#list3{
	display: none;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover{
	cursor: pointer;
}
.colors{
	float: left;
}
.colors > :first-child{
	background-color: #B7BA2D;
}
.colors > :nth-child(2){
	background-color: #54991E;
}
.colors > :nth-child(3){
	background-color: #1CC39B;
}
.colors > :nth-child(4){
	background-color: #1C2DC3;
}
.colors > :nth-child(5){
	background-color: #662776;
}
.colors > :nth-child(6){
	background-color: #C31CB2;
}